BSD-2-clause and BSD-3-clause | BSD-2-clause and/or BSD-3-clause
BSD-2-clause and ISC | BSD-2-clause and/or ISC
BSD-2-clause | BSD-2-Clause-NetBSD and/or BSD-2-clause
BSD-3-clause and ISC | BSD-3-clause and/or ISC

# Derived work of both configure.ac and Autoconf.
configure

# BSD-2-clause and ISC | BSD-2-Clause-NetBSD and/or BSD-2-clause and/or ISC
openbsd-compat/getopt_long.c
